{% extends 'base.html' %}
{% load static %}



{% block title %}
    Lista de Usuarios
{% endblock title %}



{% block content %}
    <h1>Lista de Usuarios</h1>

    <hr>
    <a href="{% url 'crear-usuario' %}" class="btn btn-success">Agregar</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">cedula</th>
            <th scope="col">nombre</th>
            <th scope="col">apellidos</th>
            <th scope="col">cargo</th>
            <th scope="col">tipo_usuario</th>
              <th scope="col">foto</th>
            <th scope="col">password</th>
          </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                {% if usuario.foto.url %}
                         <tr>
            <!-- <th scope="row">{{ usuarios.Cedula }}</th> -->
            <td>{{ usuario.cedula }}</td>
            <td>{{ usuario.username }}</td>
              <td>{{ usuario.last_name }}</td>
                             <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.cargo }}</td>
                <td>{{ usuario.tipo_usuario }}</td>
               <td><img src="{{usuario.foto.url}}" style="height: 100px" width="100px"></td>
                <td>{{ usuario.Seudonimo }}</td>
            <td>
            <a href="{% url 'editar-usuario-admin' usuario.cedula %}" class="btn btn-primary">Editar</a>
        </td>
        <td>
            <a href="{% url 'borrar-usuario' usuario.cedula %}" class="btn btn-danger">Borrar</a>
        </td>
        <td>
            <a href="{% url 'detalle-usuario' usuario.cedula %}" class="btn btn-info">Detalles</a>
        </td>
          </tr>
                {% endif  %}

          {% endfor  %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </tbody>
      </table>

{% endblock content %}
    
    